{% block header %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
        <div>
            <a class="navbar-brand" href="#">Wild Series</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Catégories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Comédie</a>
                        <a class="dropdown-item" href="#">Drame</a>
                        <a class="dropdown-item" href="#">Suspense</a>
                        <a class="dropdown-item" href="#">Horreur</a>
                        <a class="dropdown-item" href="#">+ 18 ans !!!</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('program_index')}}">Séries</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Acteurs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Christopher Walken</a>
                        <a class="dropdown-item" href="#">Jeff Goldblum</a>
                        <a class="dropdown-item" href="#">Bill Murray</a>
                        <a class="dropdown-item" href="#">Jennifer Aniston</a>
                        <a class="dropdown-item" href="#">Bernadette Chirac</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Favoris
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Friends</a>
                        <a class="dropdown-item" href="#">Shameless</a>
                        <a class="dropdown-item" href="#">L'amour du risque</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Langues
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Melmacien</a>
                        <a class="dropdown-item" href="#">Breton</a>
                        <a class="dropdown-item" href="#">Grec</a>
                        <a class="dropdown-item" href="#">Suèdois</a>
                    </div>
                </li>
            </ul>

            <div class="connexRight ml-auto">
                <a class="nav-link text-light" href="wild">Connexion</a>
            </div>
            <div class="avatarUser">
                <img src="/assets/img/avatarUser.png" alt="email">
            </div>
        </div>
    </nav>

{% endblock %}

